<!--<nav class="navbar navbar-expand-sm demo-header justify-content-end" style="padding: 0">-->
<!--  <a href='/' class="navbar-brand"><img src="{{'./assets/logo_wide.png'}}" height="65px"/></a>-->
<!--  &lt;!&ndash; <div (click)="_toggleSidebar()" style="margin: 10px"><i class='fas fa-bars' style="font-size: larger;"></i></div> &ndash;&gt;-->
<!-- &lt;!&ndash;<button class="btn btn-success ">Always Show</button> &ndash;&gt;-->
<!--  <div class="ml-auto mr-1 collapse navbar-collapse flex-grow-0" style="padding-right: 20px;">-->
<!--      <ul class="navbar-nav text-right">-->
<!--          <li class="nav-item active" style="margin-right: 30px;">-->
<!--              <a href="/notification" class="sidebar-a"><i class="fas fa-bell"></i></a>-->
<!--          </li>-->
<!--          <li class="nav-item active" style="margin-right: 30px;">-->
<!--              <a href="/settings" class="sidebar-a"><i class="fas fa-cog"></i></a>-->
<!--          </li>-->
<!--          <li class="nav-item active">-->
<!--              <a href="/users" class="sidebar-a"><i class="fas fa-user"></i></a>-->
<!--          </li>-->
<!--      </ul>-->
<!--  </div>-->
<!--</nav>-->

<html> 
  
<head> 
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
</html>
<div class="nav-bar">
  <div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Customer Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Subscribe</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="{{'./assets/facebook_logo.png'}}"/></a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="{{'./assets/instagram.png'}}"/></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="{{'./assets/twitter.png'}}"/></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Become a member</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
</div>
<div class="nav-bar-2">
  <div class="container">
  <nav class="navbar navbar-expand-lg">
    <img class=" navbar-brand" src="{{'./assets/logo_wide.png'}}" height="80px" width="190px"/>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PLANT GUIDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">CALL:+344 555 00 055</a>
        </li>
        <li class="nav-item" href="#"><a class="nav-link"><img src="{{'./assets/search.png'}}"/></a></li>
      </ul>
    </div>
  </nav>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
  <img class="rounded-float-right" src="{{'./assets/image_1.png'}}" height="300px" width="500px" padding="30px"
       align="right"/>
  <h1 >A beautiful farm is a work of heart.</h1>
  <p class="lead">Grow it yourself,plan a farm now.Farming grows the spirt.Flowers feed the soul.</p>
  <a class="btn btn  " href="#" role="button" style=" padding-top:10px; padding-bottom:10px; padding-right:20px; padding-left:20px; background-color:  #406661; color: white; border: #406661" >Become a member</a>
  </div>
</div>



<br/>
  <div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Our Services</h1>
    <br/>
  


  <div class="row  text-center">
    <div class="col-3 " style="width: 18rem; height:18rem;">

      <img src="{{'./assets/image_2.png'}}" class="card-img-top"style="height:10rem;"/>
      <h5 class="card-title">weed killing</h5>
      <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>

    </div>
    <div class="col-3 "  style="width: 18rem; height:18rem;">
      <img src="{{'./assets/image_3.png'}}" class="card-img-top"style="height:10rem;"/>
      <h5 class="card-title">soil improvement</h5>
      <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>
    </div>
    <div class="col-3 "  style="width: 18rem; height:18rem;">
      <img src= "{{'./assets/image_4.png'}}"   class="card-img-top"style="height:10rem;"/>
      <h5 class="card-title">leaf clearance</h5>
      <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>
    </div>
    <div class="col-3 "  style="width: 18rem; height:18rem;">
      <img src= "{{'./assets/image_5.png'}}" class="card-img-top"style="height:10rem;"/>
      <h5 class="card-title">veg patch creation</h5>
      <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>
    </div>
  </div>
</div>
</div>


<div class="container">
<div class="row text-center">
  <div class="col-3 "  style="width: 18rem; height:18rem;">
    <img src="{{'./assets/image_6.png'}}" class="card-img-top"style="height:10rem;"/>
    <h5 class="card-title">small tree work </h5>
    <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>
  </div>
  <div class="col-3"  style="width: 18rem; height:18rem;">
    <img src= "{{'./assets/image_7.png'}}" class=  "card-img-top" style="height:10rem;"/>
    <h5 class="card-title">lawn scarifying </h5>
    <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>
  </div>
  <div class="col-3" style="width: 18rem; height:18rem;">
    <img src= "{{'./assets/image_8.png'}}"  class="card-img-top" style="height:10rem;"/>
     <h5 class="card-title">plots&planters</h5>
     <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>
  </div>
  <div class="col-3" style="width: 18rem; height:18rem;"  >
    <img src="{{'./assets/image_9.png'}}" class="card-img-top"style="height:10rem;"/>
    <h5 class="card-title">winter digging</h5>
    <p class="card-text">If you want to be happy for a lifetime, plant a garden.</p>
  </div>
</div>
</div>





<div class="jumbotron">
  <div class="container">
         <img  class="rounded-float-left"src= "{{'./assets/image_10.png'}}"  height="400px" width="600px"  padding="30px" align="left"/>
         <h1 >Creating a Better Food system, Together </h1>
         <p class="lead"> Lorem ipsum dolor sit amet,nesectetur<br/>
          adipiscing elit sed do eiusmod tempor <br/>
          incididunt ut labore et dolore magna</p>
        
        <a class="btn btn " href="#" role="button"   style=" padding-top:10px; padding-bottom:10px; padding-right:20px; padding-left:20px; background-color:  #406661; color: white; border: #406661" >Support us</a>
      </div>
</div>

<br/>
<br/>
<br/>
<br />
<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-6">
      
      <b>Grow your own fruit
        <br/> and vegetables.<br/></b>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed<br/>
        do eiusmod tempor incididunt ut labore et dolore magna <br/>
        aliquat enem ad minim,quis nostrud exercitation</p><br/><br/>
      <button
        style=" padding-top:10px; padding-bottom:10px; padding-right:20px; padding-left:20px; background-color:  #406661; color: white; border: #406661">
        support us
      </button>

    </div>
    <div class="col-6">
      <img src="{{'./assets/image11.png'}}" height="380px" width="480px"/>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-left pt-lg-0 pb-lg-0 pt-0">
        <img src="{{'./assets/img2.png'}}" height="250px" width="300px"/>
      </div>
      <div class="col-md-6 col-sm-12 text-left pt-lg-5 pb-lg-0 pt-0">
        <b> Fine Gardening Newsletter.</b><br/>
        <small> Get the latest up-to and how to design inspiration articles plus<br/>
          special offers sent straight to your inbox.
        </small>
        <form class="form-inline">
          <div class="form-group sm-5 mb-2">
            <input type="email" class="form-control" placeholder="Email..">
          </div>
          <button  class="btn btn-primary ml-2 mb-2"  style=" padding-top:10px; padding-bottom:10px; padding-right:20px; padding-left:20px; background-color:  #406661; color: white; border: #406661"  >Subscribe</button>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col sm-12">
          <img src="{{'./assets/img6.png'}}"/>
        </div>
      </div>
    </div>


    <div class="container ">
      <div class="row">
        <div class="col">
          <img src="{{'./assets/img3.png'}}" height="250px" width="400px"/>
        </div>
        <div class="col text-center pt-3 pl-3 pr-3">
          <b>Get a Free Quote</b><br/>
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor<br/>
            incididunt ut labore et dolore magna aliquat einim veniam</small><br/><br/>
          <button
            style=" padding-top:10px; padding-bottom:10px; padding-right:20px; padding-left:20px; background-color:  #406661; color: white; border: #406661">
            Free Quote
          </button>

        </div>
        <div class="col ml-0">
          <img src="{{'./assets/img4.png'}}" height="250px" width="300px"/>
        </div>
      </div>
    </div>

    <div class="container pt-5">
      <header style="text-align: center; "><img src="{{'./assets/logo_transparent.png'}}"  height="190px" width="190px" style="text-color:black;"/>
        <!--Sunny<br/>
        Orchard
        -->
      </header>
      <div class="row">
        <div class="col-sm-3 col-md-offset-1">
          
            <b>About Sunny Orchad</b><br/>
      
            <small> Lorem ipsum dolor sit amet,nesectetur<br/>
              adipiscing elit sed do eiusmod tempor <br/>
              incididunt ut labore et dolore magna</small>
          <div class="row pt-3">
            <div class="col-md-3">
              <a href><i class="fa fa-facebook" style="color:white;background-color: #406661"
                         aria-hidden="false"></i></a>
            </div>
            <div class="col-md-3">
              <a href><i class="fa  fa-instagram" style="color:white; background-color: #406661"
                         aria-hidden="false"></i></a>
            </div>
            <div class="col-md-3">
              <a href><i class="fa fa-twitter" style="color:white; background-color: #406661"
                         aria-hidden="false"></i></a>
            </div>
          </div>

        </div>
        <div class="col-sm-3">
          <b>
            Newsletter</b><br/>
          <small>
            Get the latest up-to and how to design<br/>
            inspiration articles plus special offers<br/>
            sent straight to your inbox.
            <input type="email" class="form-control" width="15px" placeholder="Email..">
          </small>
        </div>
        <div class="col-sm-2">
          <b>Useful Links</b><br/>
          <small>
            .How-To<br/>
            .Design<br/>
            .Plant Guide<br/>
            .Magazine<br/>
            .Subscribe<br/>
            .Renew<br/>
            .Customer Support<br/>
          </small>
        </div>
        <div class="col-sm-2">
          <b>Categories</b><br/>
          <small>
            .Grasses and Bamboo<br/>
            .Tress<br/>
            .Groundcovers<br/>
            .<u>Cactus & Succulents</u><br/>
            .Ferns<br/>
            .Bulbs<br/>
            .Tropical Plants<br/>
            .Herbs<br/>
          </small>

        </div>
        <div class="col-sm-2">
          <b>Site Links</b><br/>
          <small>
            .Support Us<br/>
            .Privacy<br/>
            .Cookies<br/>
            .Careers<br/>
            .Media Center<br/>
            .Contact Us<br/>
          </small>
        </div>
      </div>
    </div>


  </div>
</div>
